.container-modal {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
    max-height: 100%;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: var(--background-modals);
}
#icon-top {
    position: absolute;
    z-index: 999;
    top: 2%;
    left: 2%;
}

div#texts-container-modal-cad {
    
}

hr#linha-modal-cad {
    border-radius: 5px;
    border-width: 2px;
    background-color: rgb(146, 143, 143)
}

#container-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 10% 4%;
}

p#title-modal-cad {
    font-size: 35px;
    font-family: Alata;
    font-weight: bold;
}

p#text-modal-cad {
    max-width: 740px;
    font-size: 24px;
    font-family: Alata;
}
div#form-container-cad {
    background: rgb(253, 150, 150);
    margin: 0;
    height: 100vh;
    width: 500px;
    padding: 6px 25px;
}

div#content-form {
    display: flex;
    flex-direction: column;
    margin: 5%
}

p#title-form-cad {
    font-size: 40px;
    font-family: Alata;
}
p#desc-form-cad {
    font-size: 20px;
    font-family: Alata;
}

form#formCad {
    display: flex;
    flex-direction: column;
    margin: 0;
}

label#label-form-cad {
    font-size: 20px;
    font-family: Alata;
    margin-top: 10px;
}

div#inputs-password {
    display: flex;
}

div#inputs-infos {
    display: flex;
    margin-top: 10px
}

input#input-form-cad {
    padding: 8px 10px;
    width: 400px;
    outline: none;
    border: transparent;
    background: rgb(252, 193, 193);
}

input#input-form-cad2 {
    max-width: 195px;
    margin-right: 10px;
    padding: 8px 10px;
    outline: none;
    border: transparent;
    background: rgb(252, 193, 193);
}

button#btn-form-cad {
    width: 150px;
    margin: 20px 0;
    padding: 10px;
    border: transparent;
    outline: none;
    color: #fff;
    font-size: 20px;
    font-family: Alata;
    border-radius: 5px;
    background: rgba(14, 1, 1, 0.603);
}

@media (max-width: 950px) {
    .container-modal {
        flex-wrap: wrap;
    }
    div#texts-container-modal-cad {
        display: none;
    }
    hr#linha-modal-cad {
        display: none;
    }
    div#form-container-cad {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 10px 0px 20px rgb(150, 149, 149);
    }
    p#desc-form-cad {
        max-width: 500px;
    }
}