.container-modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    transform: translate(0%);
    background: var(--background-modals);
    box-shadow: -20px 0px 30px rgba(0, 0, 0, 0.15);
}

#content-modal-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 15%;
}

#container-form-cad {
    background: rgb(243, 206, 206);
    border: transparent;
    box-shadow: -10px 0px 30px rgba(0, 0, 0, 0.418);
    width: 500px;
    padding: 20px 0;
}

#container-inputs-cad {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

#text-decoration-top {
    display: flex;
    align-items: center;
    justify-content: left;
}

#input-age {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    font-family: Alata;
    background:  transparent;
    border-bottom: 2px solid #000;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    margin: 5px 0;
    outline: none;
}
#input-cpf {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    font-family: Alata;
    background:  transparent;
    border-bottom: 2px solid #000;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    margin: 5px 0;
    outline: none;
}

#icon-modal-decoration {
    font-size: 30px;
    font-family: Raleway;
}
#title-modal-decoration {
    font-size: 45px;
    max-width: 400px;
    font-family: Roboto;
}
#text-modal-decoration {
    font-size: 18px;
    font-family: Roboto;
}

#content-modal {
    margin-top: 10%;
}
#icon-top {
    position: absolute;
    top: 2%;
    left: 2%;
}

form {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: 0 5%;
}

#formtitleCad {
    margin: 5%;
    font-size: 40px;
    font-family: Alata;
}

#input-cad {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    font-family: Alata;
    background:  transparent;
    border-bottom: 2px solid #000;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    margin: 10px 0;
    outline: none;
}

#infotext {
    font-family: Alata;
    font-size: 18px;
    margin: 5%;
}

#btnEventCad {
    display: flex;
    justify-content: space-around;
    width: 120px;
    padding: 10px 0;
    margin: 10px 0;
    color: #fff;
    font-size: 18px;
    font-family: Alata;
    border: transparent;
    outline: none;
    background: #af7878
}

#closeModalBtn {
    background: transparent;
    border: transparent;
}