#navbar-user-page {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    align-items: center;
    position: fixed;
    z-index: 999;
    height: 100vh;
    width: 100px;
    background: rgb(243, 241, 241);
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.15);
}

#container-btn-navs {
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn-logout-nav {
    align-items: center;
    margin-top: 40%;
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
}

#btnLogout {
    background:  rgb(223, 221, 221);
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}

#btn-people-nav {
    background:  rgb(223, 221, 221);;
    outline: none;
    border: none;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 5px 5px 10px #ccc;
}

#btn-people-nav-access {
    background: rgb(223, 221, 221);
    outline: none;
    border: none;
    border-radius: 50%;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 5px 5px 10px #ccc;
}

#title-nav-user {
    font-size: 14px;
    font-family: Alata;
    margin: 10px 0;
}