.container-Institutions {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 5% 0 ;
    justify-content: space-around;
    align-items: center;
}

#texts-instituicao {
    text-align: right;
    order: 2;
}

#image-inst {
    height: 300px;
    margin: 70px 0;
}

#title-insti {
    font-size: 45px;
    font-family: Alata;
    font-weight: bold;
    margin: 10px 0;
}

#desc-insti {
    font-family: Alata;
    font-size: 23px;
    max-width: 500px;
}

#btnInst {
    text-align: center;
    color: darkred;
    height: 50px;
    margin: 30px 0;
    font-size: 20px;
    border: transparent;
    outline: none;
    background: transparent;
}

@media (max-width: 410px) {
    #image-inst {
        height: 100px;
    }
}
@media (max-width: 500px) {
    #title-insti {
        font-size: 30px;
    }
    #desc-insti {
        font-size: 16px;
        margin: 20px;
    }
    #image-inst {
        width: 400px;
    }
}

@media (max-width: 700px) {
    #image-inst {
        height: 300px;
    }
}