.container-user-page {
    display: flex;
    flex-direction: column;
}

#img1 {
    height: 400px;
    width: 500px;
}

#img2 {
    height: 300px;
    width: 500px;
}

#img3 {
    height: 300px;
    width: 500px;
}

#sccard {
    background: rgb(250, 207, 207);
    display: flex;
    width: 100%;
    padding: 2%;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

#btnMainPageUser {
    width: 180px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: transparent;
    background: rgb(247, 239, 239);
    font-family: Roboto;
    font-size: 20px;
    margin: 0 auto;
}

#sc1 {
    display: flex;
    width: 90%;
    margin: 4% 10%;
    justify-content: space-around;
    flex-wrap: wrap;
}

#sc2 {
    display: flex;
    width: 90%;
    margin: 4% 10%;
    justify-content: space-around;
    flex-wrap: wrap;
}

#sc3 {
    display: flex;
    width: 90%;
    margin: 4% 10%;
    justify-content: space-around;
    flex-wrap: wrap;
}

#sc4 {
    display: flex;
    width: 90%;
    margin: 4% 10%;
    justify-content: space-around;
    flex-wrap: wrap;
}

#texts-seccard {
    max-width: 600px
}
#texts-sec1 {
    margin-top: 5%;
    max-width: 600px
}

#title-sec1 {
    font-size: 35px;
    font-family: Alata;
    font-weight: bold;
}

#desc-sec1 {
    font-size: 23px;
    font-family: Alata;
    max-width: 600px
}

#desc-list-sec1 {
    font-size: 18px;
    font-family: Alata;
    max-width: 600px
}
