.container-user-page {
    display: flex;
    flex-direction: column;
}

#sccard {
    background: rgb(255, 230, 230);
    box-shadow: 10px 0px 20px #ccc;
    display: flex;
    width: 100%;
    padding: 2%;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

#btnMainPageUser {
    width: 160px;
    height: 45px;
    border-radius: 25px;
    outline: none;
    border: transparent;
    background: rgb(241, 161, 161);
    font-family: Roboto;
    font-size: 20px;
    margin: 0 auto;
}

#vertical-line{
    height: 300px;
    float: left;
    border: 3px solid rgb(241, 118, 118);
    border-right: transparent;
    border-top: transparent;
    border-bottom: transparent;
    border-radius: 2px;
  }

#sc1 {
    display: flex;
    width: 92%;
    margin: 4% 7%;
    justify-content: space-around;
    flex-wrap: wrap;
}

#texts-seccard {
    max-width: 800px
}
#texts-sec1 {
    margin-top: 5%;
    max-width: 650px;
    text-align: center;
}

#desc-seccard {
    font-size: 23px;
    font-family: Alata;
    max-width: 650px
}

#title-sec1 {
    font-size: 30px;
    font-family: Alata;
    font-weight: bold;
}

#desc-sec1 {
    font-size: 23px;
    font-family: Alata;
    max-width: 600px
}

#sc2 {
    display: flex;
    background:rgb(245, 243, 243);
    box-shadow: -10px 0px 20px #ccc;
}

#container-content {
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titleCard2 {
    font-size: 30px;
    font-family: Alata;
    font-weight: bold;
}

#descs-container {
    display: flex;
    align-items: center;
    max-width: 850px;
    margin: 5px 0;
}

#descCard2 {
    font-size: 20px;
    font-family: Alata;
    padding: 0 10px;
}