.container-depoiments {
    grid-area: _depoiments;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 2% 0 ;
    justify-content: center;
    align-items: center;
}

.content-card-all {
    background: rgb(243, 241, 241);
    box-shadow: -20px 0px 30px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    width: 90%;
}

#card-depoiment {
    margin: 0 auto;
}

#texts-top-slide {
    margin-top: 30px;
    margin-bottom: 10px;
}

#title-depo {
    text-align: center;
    font-family: Lora;
    font-size: 40px;
    margin-bottom: -10px;
}

#desc-depo {
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    font-size: 45px;
}

#card-depoiment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#text-depo {
    max-width: 75%;
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: Lora;
    font-weight: bold;
}

#img-depo {
    height: 100px;
    border-radius: 50%;
}

#texts-people-card {
    margin-top: 20px
}

#name-depo {
    font-size: 30px;
    font-family: Roboto;
    font-weight: bold;
    margin: 0;
}

#text-depo-decoration {
    font-size: 20px;
    font-family: Alata;
}

@media (max-width: 500px) {
    #title-depo {
        font-size: 25px;
    }
    #desc-depo {
        font-size: 20px;
    }
    #text-depo {
        font-size: 16px;
    }
    #name-depo {
        font-size: 20px;
    }
    #text-depo-decoration {
        font-size: 20px;
    }
}