#navbar-user-page {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100px;
    background: rgb(243, 241, 241);
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.15);
}

#container-btn-navs {
    margin-top: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn-people-nav {
    background: transparent;
    outline: none;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px
}

#btn-people-nav-access {
    background: transparent;
    outline: none;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    margin-top: 20px;
}
