.container-perfiluser {
    display: flex;
    justify-content: space-between;
}

div#infos-user {
    margin: 0 13%;
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    flex-wrap: wrap;
}

p#title-perfil {
    font-size: 44px;
    font-family: Alata;
    font-weight: bold;
}

p#desc-perfil {
    font-size: 25px;
    font-family: Alata;
    max-width: 700px;
}

hr#linha-perfil {
    border-width: 4px;
    border-radius: 5px;
}

form#form-edit-perfil {
    margin: 0;
    display: flex;
    flex-direction: column;
}

label#label-form-perfil {
    font-size: 24px;
    font-family: Alata;
    margin: 15px 0;
}

textarea#bio-user {
    resize: none;
    border: transparent;
    padding: 10px;
    outline: none;
    height: 150px;
    font-size: 20px;
    font-family: Alata;
    background: rgb(231, 223, 223);
}

div#inputs-perfil {
    display: flex;
    gap: 0 20px;
}

input#input-perfil {
    width: 100%;
    border: transparent;
    outline: none;
    padding: 15px;
    background: rgb(231, 223, 223);
}

select#selected-bloodtype {
    background: rgb(231, 223, 223);
    padding: 10px;
    width: 30%;
    font-size: 20px;
    font-family: Alata;
    border: transparent;
    outline: none;
}

div#inputs-adress {
    display: flex;
    gap: 0 20px;
}

input#input-perfil-num {
    width: 30%;
    border: transparent;
    outline: none;
    padding: 15px;
    background: rgb(231, 223, 223);
}

button#btn-edit-perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin: 20px 0;
    width: 150px;
    font-size: 22px;
    border: transparent;
    outline: none;
    border-radius: 10px;
    background: rgb(116, 206, 113);
}

p#text-btn-perfil {
    margin: 10px 0;
}

img#ilustration-perfil {
    position: fixed;
    bottom: 0;
}

div#container-header {
    margin: 0 auto;
}

div#container-form-perfil {
    padding: 10% 0;
    display: flex;
    flex-direction: column;
}

p#nameuser-perfil {
    font-size: 45px;
    font-family: Alata;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
}

p#bio-user-perfil {
    font-size: 25px;
    font-family: Alata;
    max-width: 550px;
    text-align: center;
}

div#field-info {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

div#field-info2 {
    display: flex;
    align-items: center;
    gap: 0 10px;
    width: 100%;
}

label#label-field {
    font-size: 20px;
    font-family: Alata;
    margin: 0 5px
}

p#icon-field {
    padding: 7px 5px;
    margin: 10px 0;
}

input#input-field-info {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: transparent;
    background: #ccc;
    outline: none;
    border-radius: 25px;
}

input#input-field-info2 {
    width: 30%;
    margin: 10px 0;
    padding: 10px;
    border: transparent;
    background: #ccc;
    outline: none;
    border-radius: 25px;
}

input#input-field-info3 {
    width: 30%;
    margin: 10px 0;
    padding: 10px;
    border: transparent;
    background: #ccc;
    outline: none;
    border-radius: 25px;
}

@media (max-width: 920px) {
    img#ilustration-perfil {
        display: none;
    }
}