.container-about{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 3% 0 ;
    justify-content: space-around;
    align-items: center;
    padding: 10px
}

#container-content-texts-about {
    display: flex;
    flex-direction: column;
}

#title-texts-about {
    font-size: 50px;
    font-family: Roboto;
    font-weight: bold;
}
#desc-texts-about {
    max-width: 550px;
    font-size: 23px;
    font-family: Alata;
}

#imgAbout {
    height: 300px;
}