.container-modal-log {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    height: 100vh;
    width: 380px;
    transform: translate(0%);
    background: var(--background-modals);
    box-shadow: -20px 0px 30px rgba(0, 0, 0, 0.15);
}

#content-modal-log {
    margin-top: 50%;
}
#icon-top {
    position: absolute;
    top: 2%;
    left: 2%;
}

form {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: 0 5%;
}

#formtitleLog {
    margin: 5%;
    font-size: 30px;
    font-family: Roboto;
}

#input-modal-log {
    width: 100%;
    height: 40px;
    font-family: Alata;
    font-style: normal;
    padding: 10px;
    font-size: 18px;
    background: rgb(243, 206, 206);
    border: transparent;
    margin: 5px 0;
    outline: none;
    border-radius: 10px;
}

#esqsenha {
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 10px 0;
    padding: 0 5px;
    background: transparent;
    border: transparent;
    outline: none;
    font-size: 16px
}

#btnEventLog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 40px;
    margin: 20px 0;
    color: white;
    font-size: 20px;
    border: transparent;
    outline: none;
    background: var(--background-button)
}

#closeModalBtn {
    background: transparent;
    border: transparent;
    outline: none;
}