.container-navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(255, 232, 232);
}

#links {
    margin: 0 4%;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

li:nth-child(1) {
    font-size: 30px;
    font-family: Raleway;
}

li {
    font-size: 25px;
    padding: 0 10px;
    list-style:none;
    font-family: Alata;
    background: transparent;
}

a {
    text-decoration-style: none;
    color: #000;
}
a:hover {
    text-decoration: none;
    color: #000;
}

#button-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
#btnAcceNav {
    font-size: 20px;
    background: transparent;
    outline: none;
    border: 2px solid #000;
    padding: 6px 25px;
    border-radius: 25px;
    margin: 0 10px;
    color: #000;
}
#btnCadNav {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    width: 170px;
    border-radius: 25px;
    background: #E26868;
    outline: none;
    border: transparent;
    padding: 7px 25px;
    margin: 0 10px;
}
#arrowBtnCad {
    display: flex;
    align-items: center;
    margin: 0 5px;
}

@media (max-width: 850px) {
    .container-navbar {
        flex-direction: column;
    }
    #btnCadNav  {
        width: 100px;
        font-size: 18px;
        padding: 6px 10px;
        box-shadow: none;
    }
    #btnAcceNav {
        width: 100px;
        font-size: 18px;
    }
    #arrowBtnCad {
        display: none;
    }
    ul {
        display: flex;
        flex-direction: column;
    }
    li:nth-child(2) {
        display: none;
    }
    li:nth-child(3) {
        display: none;
    }
    li:nth-child(4) {
        display: none;
    }
}

@media (max-width: 1020px) {
    li:nth-child(1) {
        font-size: 35px;
        font-family: Cookie;
    }
    li {
        padding: 0 5px;
        list-style:none;
        font-family: Alata;
    }
}