.container-modal-map {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100vh;
    width: 30%;
    background: var(--background-modals);
    box-shadow: -20px 0px 30px rgba(0, 0, 0, 0.15);
}

#content-modal-map {
    margin-top: 20%;
}

#icon-top {
    position: absolute;
    top: 2%;
    left: 2%;
}

#formtitle-map {
    margin: 2%;
    font-size: 25px;
    font-family: Roboto;
}
